@use "sass:math";

// --- 01 TYPOGRAPHY ---

/*FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

// font-families
$ff-sans: "Rubik", sans-serif;

// font-weights
$fw-default: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$line-height-default: 1;
$line-height-small: 1.05;
$line-height-medium: 1.2;
$line-height-paragraph-default: 1.6;

$letter-spacing-compact: -0.5px;
$letter-spacing-small: 0.75px;
$letter-spacing-smaller: 0.25px;

// --- 02 COLORS --- yeun.github.io/open-color/
$primary: #d97720; //#e67e22;
$primary-dark: #cf711f;
$primary-light: #fdf2e9;
$primary-medium: #fae5d3;
$text-gray: #555;
$text-gray-dark: #333;
$text-gray-light: #ddd;

$layout-max-width: 120rem;

// --- 05 SHADOWS ---

// --- 06 BORDER-RADIUS ---
$design-border-radius: 0.9rem;
$design-border-radius-medium: 1.1rem;

// --- 07 WHITESPACE ---

// --- 08 SVG ICONS ---
$icon-star: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23#{str-slice('#{$primary}', 2)}' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z' /%3E%3C/svg%3E%0A");
$icon-checkmark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{str-slice('#{$primary}', 2)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M416 128L192 384l-96-96'/%3E%3C/svg%3E");
$icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23#{str-slice('#{$primary}', 2)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M368 368L144 144M368 144L144 368'/%3E%3C/svg%3E");

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.6rem transparentize($primary, 0.5);
  }
}

html {
  // instead to define root font size as fixed value (10px),
  // percentage respect user intention to enlarge or reduce text size
  // now 1rem = 10px Use in the design only rem instead of pixels
  font-size: 62.5%; /* 10px / 16px => 62.5% percentage of user's browser font-size setting */
  overflow-x: hidden;
  width: 100vw;
  // scroll-behavior: smooth;
}

body {
  font-family: $ff-sans;
  line-height: $line-height-default;
  color: $text-gray;
  overflow-x: hidden;
}

button.zoom-toggle {
  position: fixed;
  bottom: 4px;
  left: 4px;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: $fw-semibold;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 9px;
  transition: all 0.3s;
  padding: 6px;
  background-color: $text-gray-light;
  cursor: pointer;
  &:hover {
    background-color: $primary-dark;
    color: white;
  }
  svg {
    width: 14px;
    height: 14px;
  }
}

@mixin section-padding($v: 9.6rem, $h: 0) {
  padding: $v $h;
  // @media (max-width: 44em) {
  //   padding: math.div($v, 1.5) $h;
  // }
}

@mixin span-highlight {
  display: block;
  font-size: 3.8rem;
  line-height: 0.8;
}

@mixin container($max: $layout-max-width) {
  max-width: $max;
  margin-inline: auto !important;
  padding: 0 4.8rem;
}

@mixin grid(
  $cols,
  $rows: 1,
  $col-gap: 9.6rem,
  $row-gap: 9.6rem,
  $align-vertical: start,
  $margin: 0
) {
  display: grid;
  column-gap: $col-gap;
  row-gap: $row-gap;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  align-items: $align-vertical;
  margin: $margin;
}

.container {
  @include container;
}

strong {
  font-weight: $fw-medium;
}

/*************************************/
/* COMPONENTS */
/*************************************/

/*--- REUSABLE ---*/

/* HELPER/SETINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

@mixin heading {
  font-weight: $fw-bold;
  color: $text-gray-dark;
  letter-spacing: $letter-spacing-compact;
}

.heading {
  &-primary {
    @include heading;
    font-size: 5.2rem;
    line-height: $line-height-small;
    margin-bottom: 3.2rem;
  }
  &-secondary {
    @include heading;
    font-size: 4.4rem;
    line-height: $line-height-medium;
    margin-bottom: 9.6rem;
  }
  &-tertiary {
    @include heading;
    font-size: 3rem;
    line-height: $line-height-medium;
    margin-bottom: 3.2rem;
  }
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: $fw-medium;
  color: $primary-dark;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: $letter-spacing-small;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  &,
  &:link,
  &:visited {
    font-weight: $fw-semibold;
    //display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: $design-border-radius;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    font-family: inherit;
  }

  &--form {
    background-color: #45260a;
    color: $primary-light;
    &:hover {
      background-color: #fff;
      color: #555;
    }
  }

  &--full {
    &:link,
    &:visited {
      background-color: $primary;
      color: white;
    }

    &:hover,
    &:active {
      background-color: $primary-dark;
    }
  }

  &--outline {
    &:link,
    &:visited {
      background-color: white;
      color: $text-gray;
    }

    &:hover,
    &:active {
      background-color: $primary-light;
      box-shadow: inset 0 0 0 3px white;
    }
  }

  &-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@mixin icoBeforeElement($svg: $icon-checkmark) {
  &::before {
    content: "";
    background-image: $svg;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
  }
}

.list {
  margin-top: -1.2rem;
  //margin-left: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  li {
    font-size: 1.8rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    @include icoBeforeElement;
  }
}

.nav-cta {
  &:link,
  &:visited {
    display: inline-block;
    color: white;
    background-color: $primary;
    font-size: 2rem;
    font-weight: $fw-medium;
    padding: 1.2rem 2.4rem;
    border-radius: $design-border-radius;
    text-decoration: none;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    background-color: $primary-dark;
  }
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.9rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-smaller;
  color: $text-gray-dark;
  border-radius: 100px;
  font-weight: $fw-semibold;
  &--vegetarian {
    background-color: #51cf66;
  }
  &--vegan {
    background-color: #94d82d;
  }
  &--paleo {
    background-color: #ffd43b;
  }
}

.link {
  &:link,
  &:visited {
    display: inline-block;
    color: $primary;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $primary-dark;
    border-bottom: 1px solid transparent;
  }
}

@mixin flip($horizontal: true, $vertical: false) {
  @if $horizontal {
    transform: scaleX(-1);
  }
  @if $vertical {
    transform: scaleY(-1);
  }
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 9999;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $text-gray-dark;

  &[name="close-outline"] {
    display: none;
    .nav-open & {
      display: block;
    }
  }
  .nav-open &[name="menu-outline"] {
    display: none;
  }
}

/*--- HEADER ---*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-light;

  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
  transition: all 0.5s;

  // sticky navigation
  .sticky & {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    height: 10rem;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba($color: #000000, $alpha: 0.03);
  }
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link {
  &:focus {
    padding: 1rem 2rem;
  }
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $text-gray-dark;
    font-weight: $fw-medium;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $primary-dark;
    box-shadow: 0 0 0 0.6rem transparentize($primary, 0.5);
    padding: 1rem 2rem;
  }
}

/*--- HERO ---*/
.section-hero {
  background-color: $primary-light;
  padding: 4.8rem 0 9.6rem 0;

  .sticky & {
    margin-top: 8rem;
  }
}

.hero {
  @include container(130rem);
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  img {
    width: 100%;
  }

  &-description {
    font-size: 2rem;
    line-height: $line-height-paragraph-default;
    margin-bottom: 4.8rem;
  }
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
  p {
    font-size: 1.8rem;
    font-weight: $fw-semibold;
    span {
      color: $primary-dark;
      font-weight: $fw-bold;
    }
  }
}

.hero .delivered-imgs {
  display: flex;
  img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 0.3rem solid $primary-light;

    &:last-child {
      margin-right: 0;
    }
  }
}

/*--- Featured In SECTION ---*/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-small;
  font-weight: $fw-medium;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
  }
}

/*--- How It Works SECTION ---*/
.section-how {
  @include section-padding;
}

.step {
  &-grid {
    @include grid($cols: 2, $col-gap: 0rem);
  }
  &-text-box {
  }
  &-number {
    font-size: 8.6rem;
    font-weight: $fw-medium;
    color: $text-gray-light;
    margin-bottom: 1.2rem;
  }
  &-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  &-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: $primary-light;
      position: absolute;
    }

    &::before {
      width: 60%;
      padding-bottom: 60%;
      z-index: -1;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }

    &::after {
      width: 45%;
      padding-bottom: 45%;
      background-color: $primary-medium;
      z-index: -1;
    }
  }
  &-img {
    margin-top: 2rem;
    width: 35%;
    height: auto;
  }
}

/*--- MEALS SECTION ---*/
.section-meals {
  @include section-padding;
}

.meals-grid {
  @include grid($cols: 3, $align-vertical: stretch);
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: $design-border-radius-medium;
  overflow: hidden;
  transition: all 0.4s;

  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }

  &:nth-child(2) {
    img {
      @include flip;
    }
  }
  &-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  &-img {
    width: 100%;
  }
  &-title {
    font-size: 2.4rem;
    color: $text-gray-dark;
    font-weight: $fw-semibold;
    margin-bottom: 3.2rem;
  }
  &-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: $primary;
  }
  &-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*--- TESTIMONIALS SECTION ---*/
.section-testimonials {
  background-color: $primary-light;
}
.testimonials-grid {
  @include grid($cols: 2, $col-gap: 0, $row-gap: 0, $align-vertical: center);
  grid-template-columns: 55fr 45fr;
}

.testimonials {
  @include grid($cols: 2, $col-gap: 8rem, $row-gap: 4.8rem);
  &-container {
    padding: 9.6rem;
  }
}

.testimonial {
  &-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }
  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
  &-name {
    font-size: 1.6rem;
    color: #6f6f6f;
  }
}

.gallery {
  @include grid($cols: 3, $col-gap: 1.6rem, $row-gap: 1.6rem);
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    transition: all 0.4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/*--- PRINCING SECTION ---*/
.section-pricing {
  @include section-padding;
}

.grid-pricing {
  @include grid($cols: 2);
}

.pricing-plan {
  border-radius: $design-border-radius-medium;
  padding: 4.8rem;
  width: 75%;

  &:first-child {
    justify-self: end;
    box-shadow: inset 0 0 0 2px $primary-light;
    li:last-child {
      @include icoBeforeElement($svg: $icon-close);
      text-decoration: line-through;
    }
  }

  &:last-child {
    background-color: $primary-light;
    position: relative;
    overflow: hidden;
    &::after {
      content: "Best value";
      top: 6%;
      right: -18%;
      position: absolute;
      color: $text-gray-dark;
      background-color: #ffd43b;
      padding: 0.8rem 8rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: $fw-bold;
      transform: rotate(45deg);
    }
  }

  header {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &-name {
    color: $primary-dark;
    font-weight: $fw-semibold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-small;
    margin-bottom: 3.2rem;
  }

  &-price {
    font-size: 6.2rem;
    font-weight: $fw-semibold;
    color: $text-gray-dark;
    margin-bottom: 1.6rem;
    span {
      font-size: 3rem;
      font-weight: $fw-medium;
      margin-right: 0.8rem;
    }
  }

  &-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
  }

  &-sign-up {
    margin-top: 4.8rem;
    text-align: center;
  }
}

.grid-features {
  @include grid($cols: 4, $margin: 9.6rem 0 0 0);
}

.feature {
  &-icon {
    color: $primary;
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: $primary-light;
    padding: 1.6rem;
    border-radius: 50%;
  }
  &-title {
    font-size: 2.4rem;
    color: $text-gray-dark;
    font-weight: $fw-bold;
    margin-bottom: 1.6rem;
  }
  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-top: 4.8rem;
}

/*--- CALL-TO-ACTION SECTION ---*/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: $design-border-radius-medium;
  background-image: linear-gradient(to right bottom, #eb984e, $primary);
  overflow: hidden;

  & *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem transparentize($primary-light, 0.5);
  }

  .heading-secondary {
    color: #45260a;
    margin-bottom: 3.2rem;
  }

  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
  }

  &-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
  }
  &-img-box {
    background-image: linear-gradient(
        to right bottom,
        transparentize(#eb984e, 0.65),
        transparentize($primary, 0.65)
      ),
      url("/assets/eating.jpg");
    background-size: cover;
    background-position: center;
  }

  &-form {
    display: grid;
    @include grid(2, $col-gap: 3.2rem, $row-gap: 2.4rem);

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: $fw-medium;
      margin-bottom: 1.2rem;
    }
    input,
    select {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.8rem;
      font-family: inherit;
      border: none;
      background-color: $primary-light;
      border-radius: $design-border-radius;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      color: inherit;
      &::placeholder {
        color: #aaa;
      }
    }

    button {
      align-self: end;
      padding: 1.2rem;
      font-size: 2.05rem;
    }
  }
}

/*--- FOOTER SECTION ---*/
footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  transition: background-color 2s;
  &:hover {
    background-color: #f7f5f5;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 4.8rem;
}

.footer {
  &-logo {
    display: block;
    margin-bottom: 3.2rem;
  }
  &-heading {
    font-size: 1.8rem;
    font-weight: $fw-medium;
    margin-bottom: 4rem;
  }

  &-nav,
  .social-links,
  address {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    a {
      &:link,
      &:visited {
        text-decoration: none;
        font-size: 1.6rem;
        color: #767676;
        transition: all 0.3s;
        padding-bottom: 0px;
        border-bottom: 0.2rem solid transparent;
      }

      &:hover,
      &:active {
        color: #555;
        padding-bottom: 2px;
        border-bottom: 0.2rem solid $primary;
      }
    }
  }

  .social-links {
    flex-direction: row;
    li a:any-link {
      border-bottom: 0;
      padding-bottom: 0;

      ion-icon {
        height: 2.4rem;
        width: 2.4rem;
        transition: all 0.3s;
      }
    }

    li a:hover,
    li a:active {
      ion-icon {
        transform: scale(1.15);
      }
    }
  }

  .copyright {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #767676;
  }

  .logo-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    p:last-child {
      margin-top: auto;
    }
  }

  .contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    p a {
      line-height: 1.2;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

/*--- Queries ---*/

/* below 1344px (smaller desktops) */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    @include grid($cols: 2, $col-gap: 1.6rem, $row-gap: 1.6rem);
  }
}

/* below 1200px (landscape tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
    // media queries ignores html font-size outside and consider
    // 16px for global font-size. So to decrease the previous
    // font-size (that was 10px) to 9px, this is not .9rem but
    // a recalc of percentage relative to 16px
    // 9px/16px = 0.5625 => 56.25%
  }

  .heading {
    &-secondary {
      font-size: 3.6rem;
    }
    &-tertiary {
      font-size: 2.4rem;
    }
  }

  .step-grid,
  .meals-grid,
  .testimonials-grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 5rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 4.8rem;
  }
}

/* below 944px (tablets) */
@media (max-width: 60em) {
  html {
    font-size: 50%; //8px
  }

  .section-hero {
    padding: 4.8rem 0 4.8rem 0;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    gap: 4.8rem;
    img {
      width: 50%;
    }

    &-text-box,
    &-img-box {
      text-align: center;
    }
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;

    &-form {
      grid-template-columns: 1fr;
    }
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .heading-primary {
    max-width: 80%;
    margin-inline: auto;
  }

  .hero-description {
    max-width: 70%;
    margin-inline: auto;
  }

  // mobile navigation
  .btn-mobile-nav {
    display: block;
    transition: all 0.3s;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.6rem transparentize($primary, 0.5);
      border-radius: 50%;
      transform: scale(1.35) translateY(1.2rem);
    }
  }

  .main-nav {
    background-color: transparentize($color: #fff, $amount: 0.2);
    position: absolute;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.625s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);

    .nav-cta {
      font-size: 2.8rem;
      margin-top: 5rem;
    }

    .nav-open & {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
      transition: all 0.55s ease-out;
    }

    &-list {
      flex-direction: column;
      gap: 4.8rem;
    }
  }

  .main-nav-link {
    &:link,
    &:visited {
      font-size: 3rem;
    }
  }
}

/* below 704px (smaller tablets) */
@media (max-width: 44em) {
  .section-featured {
    padding: 4.8rem 0 3.2rem 0;
  }

  .section-how {
    @include section-padding($v: 4.8rem);
  }

  .grid-features,
  .grid-pricing,
  .meals-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid-pricing {
    column-gap: 4.8rem;
  }

  .footer {
    padding: 9.6rem 0;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 8rem;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/* below 575px (phones) */
@media (max-width: 36em) {
  .grid-features,
  .grid-pricing,
  .meals-grid,
  .step-grid,
  .testimonials {
    grid-template-columns: 1fr;
  }

  .grid-pricing {
    row-gap: 4.8rem;
  }

  .hero {
    padding: 0;

    .delivered-meals {
      flex-direction: column;
      .delivered-imgs img {
        height: 7rem;
        width: 7rem;
      }
    }
  }

  .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }

  .btn {
    &,
    &:link,
    &:visited {
      padding: 2.4rem 1.6rem;
    }
  }

  .hero img {
    width: 72%;
  }

  .heading {
    &-primary {
      font-size: 3.6rem;
    }
    &-secondary {
      font-size: 3rem;
    }
    &-tertiary {
      font-size: 2.4rem;
    }
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box {
    transform: translateY(4rem);
    &:nth-child(2) {
      grid-row: 1;
    }
    &:last-child {
      grid-row: 5;
    }
  }

  .diets {
    .list {
      flex-direction: row;
      flex-wrap: wrap;
      li {
        flex: 1;
        flex-basis: 35%;
      }
    }
  }

  .testimonials-container {
    padding-bottom: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .grid-features {
    row-gap: 6.4rem;
  }

  .cta {
    grid-template-columns: 1fr;

    &-img-box {
      height: 32rem;
      grid-row: 1;
    }

    &-text-box {
      padding: 3.2rem;
      .heading-secondary {
        max-width: 80%;
        text-align: center;
        margin-inline: auto;
        span {
          @include span-highlight;
        }
      }
    }
  }

  .section-testimonials .heading-secondary span {
    @include span-highlight;
  }
}
